<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>

<body>
  <div th:fragment="editModal (person, roles)">
    <div class="modal fade" th:id="${'editUserModal' + person.id}" tabindex="-1" aria-labelledby="editModelLabel"
      aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content text-center">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="editModalLabel">Edit person</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form class="form" th:action="@{/admin/person/{id}/edit(id=${person.id})}" th:method="PATCH"
              th:object="${person}">
              <div class="mb-1">
                <label th:for="${'firstNameInput' + person.id}" class="form-label">
                  <b>First name</b>
                </label>
                <input th:name="firstName" type="text" class="form-control" th:id="${'firstNameInput' + person.id}"
                  th:value="${person.firstName}">
              </div>

              <div class="mb-1">
                <label th:for="${'lastNameInput' + person.id}" class="form-label">
                  <b>Last name</b>
                </label>
                <input th:name="lastName" type="text" class="form-control" th:id="${'lastNameInput' + person.id}"
                  th:value="${person.lastName}">
              </div>

              <div class="mb-1">
                <label th:for="${'dateOfBirthdayInput' + person.id}" class="form-label">
                  <b>Date Of Birthday</b>
                </label>
                <input th:name="dateOfBirthday" type="date" class="form-control" id="newDateOfBirthInput"
                       th:value="${person.dateOfBirthday}">
              </div>

              <div class="mb-1">
                <label th:for="${'emailInput' + person.id}" class="form-label">
                  <b>Email</b>
                </label>
                <input th:name="email" type="email" class="form-control" th:id="${'emailInput' + person.id}"
                  aria-describedby="emailHelp" th:value="${person.email}">
              </div>

              <div class="mb-1">
                <label for="newPassword" class="form-label">
                  <b>Password</b>
                </label>
                <input type="text" class="form-control" name="newPassword" id="newPassword" th:value="${null}">
              </div>

              <div class="mb-2">
                <label th:for="${'roleSelect' + person.id}" class="form-label">
                  <b>Role</b>
                </label>
                <select th:name="roles" class="form-control" size="2" th:id="${'roleSelect' + person.id}"
                  th:value="${person.roles}" multiple>
                  <div th:each="role : ${roles}">
                    <option th:selected="${person.roles.contains(role.roleType)}" th:name="role" th:value="${role}"
                      th:text="${role.roleType.name}"></option>
                  </div>
                </select>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Edit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
</body>
</html>